{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block content %}
    <div class="row h-100 w-100 ml-0 p-4 justify-content-center">
        <div class="site-box p-4 bg-white col-12 col-lg-7 d-flex align-items-center justify-content-center shadow">
            <div id="signing-form">
                <div class="mb-5 d-flex flex-column align-items-center">
                    <img src="{% static 'img/ghost.png' %}" alt="Ghost icon" class="picture-small-fixed">
                    <h2 class="font-7 logo-font site-color mb-0 text-center">{% block signing_title %}{% endblock %}</h2>
                    <span class="header-font text-center">{% block signing_subtitle %}{% endblock %}</span>
                </div>
                <form method="POST">
                    <div>
                        {% crispy form %}
                        <div class="d-flex mt-5 flex-column align-items-center">
                            <input id="submit-signing-button" class="btn site-btn mb-2 w-75 font-7" type="submit"
                                   value="{% block signing_submit_value %}{% endblock %}">
                            <a class="site-link font-5 text-center" href="{% block undo_url %}{% endblock %}">
                                {% block undo_text %}{% endblock %}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}