{% load static %}

<style>
    #footer {
        background-color: #1c1c1c;
        flex-basis: auto;
        width: 100%;
        min-height: 6rem;
    }
</style>

<div id="footer" class="mt-5 d-flex justify-content-between align-items-center">
    <div class="row w-100 mx-0 px-4">
        <div class="col d-flex align-items-center gap-2">
            <a href="https://www.iubenda.com/privacy-policy/13219479"
               class="iubenda-black no-brand iubenda-noiframe iubenda-embed iubenda-noiframe"
               title="Privacy Policy ">
                Privacy Policy
            </a>
            <a href="https://www.iubenda.com/privacy-policy/13219479/cookie-policy"
               class="iubenda-black no-brand iubenda-noiframe iubenda-embed iubenda-noiframe"
               title="Cookie Policy">
                Cookie Policy
            </a>
        </div>
        <div class="col d-flex justify-content-end pe-4">
            <a href="#" class="site-link-light no-decoration font-6">About</a>
        </div>
    </div>
</div>