{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {{ block.super }} Home
{% endblock %}

{% block extra_css %}
    <style>
        #site-main-page {
            margin-top: 0 !important;
            padding-right: 4rem !important;
            height: 100vh !important;
        }
        #background-column {
            background: url("/static/img/DALLE-robot.png") no-repeat right center;
            width: 100vw;
            min-height: 100vh;
            height: inherit;
            background-size: cover;
        }
        p {
            text-shadow: 2px 2px #e18484;
        }

        @media (max-width: 991px) {
            #background-column {
                display: none !important;
            }
            #site-main-page {
                padding-right: 0 !important;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div id="background-column" class="col"></div>
        <div class="col d-flex align-items-end align-items-mobile-center flex-column mt-5">
            <p class="d-flex flex-column logo-font display-1 font-8 site-red-text text-end text-mobile-center">
                {% blocktranslate %}
                    <span>Transcription</span>
                    <span>is one step</span>
                    <span>away</span>
                {% endblocktranslate %}
            </p>
            <div class="d-flex flex-column mt-5 gap-3">
                <a class="btn site-btn btn-lg" href="{% url 'user_management:login' %}">
                    Login
                </a>
                <a class="path-link no-decoration font-6" href="{% url 'user_management:registration' %}">
                    Don't have an account yet? Sign in
                </a>
            </div>
        </div>
    </div>
{% endblock %}