@media (max-width: 991px) {
    .mobile-center {
        display: flex;
        justify-content: center !important;
    }
    .justify-content-mobile-start {
        justify-content: start !important;
    }
    .align-items-mobile-start {
        align-items: start !important;
    }
    .align-items-mobile-center {
        align-items: center !important;
    }
    .text-mobile-center {
        text-align: center !important;
    }
}