body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #f2f2f2;
    color: #111827;
}

#site-main-page {
    min-height: 100vh;
}

.site-box {
    border-radius: 15px;
}

h2 {
    font-weight: 700;
}

h5 {
    font-weight: 500;
}

.font-1 {
    font-weight: 100;
}

.font-3 {
    font-weight: 300;
}

.font-4 {
    font-weight: 400;
}

.font-5 {
    font-weight: 500;
}

.font-6 {
    font-weight: 600;
}

.font-7 {
    font-weight: 700;
}

.font-8 {
    font-weight: 800;
}

.font-9 {
    font-weight: 900;
}

.letter-spacing-1 {
    letter-spacing: 0.25rem;
}

.letter-spacing-2 {
    letter-spacing: 0.5rem;
}

.hidden {
    display: none;
}

.no-decoration {
    text-decoration-line: none !important;
}

.no-decoration:hover {
    text-decoration-line: none !important;
}

.site-red-bg {
    background-color: #FF6B6C !important;
}

.site-red-text {
    color: #FF6B6C !important;
}

.site-blue-text {
    color: #247BA0 !important;
}

.site-green-text {
    color: #33CE7A !important;
}

.site-yellow-text {
    color: #FF9F1C !important;
}

.flat-link {
    color: currentColor;
    text-decoration: none;
}

.flat-link:hover {
    color: currentColor;
    background-color: white !important;
    text-decoration: none;
}

.site-link {
    color: #454545;
    text-decoration: none;
}

.site-link:hover {
    color: #454545;
    text-decoration: underline;
}

.site-link-light {
    color: #a1a1a1;
}

.site-link-light:hover {
    color: #a1a1a1;
}

.link-decorated {
    text-decoration: underline !important;
}

.path-link {
    padding: 0.25rem 0.5rem;
    color: #111827;
    border-radius: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.path-link:hover {
    text-decoration: none;
    color: #5e6b91 !important;
    background-color: rgba(0,0,0,.075);
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.logo-font {
    font-family: 'Epilogue', sans-serif;
}

.subtitle-font {
    font-family: 'Solway', serif;
}

.site-color {
    color: #247BA0 !important;
}

nav .logo-font {
    font-size: 40px;
}

.form-control {
    background-color: white;
    color: #525252;
    outline: none;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.form-control:focus {
    border: 1px solid #e0e0e0;
    color: #525252;
    outline: none;
    background-color: white;
}

.form-text {
    color: #525252 !important;
}

.btn {
    font-weight: 500;
    border-radius: 10px;
}

.btn:focus {
    box-shadow: none !important;
}

.site-pill {
    background-color: #247BA0;
}

.site-btn {
    background-color: #247BA0;
    border-color: #247BA0;
    color: white !important;
}

.site-btn:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: #1d6e91;
    border-color: #1d6e91;
    color: white;
}

.site-btn:active {
    background-color: #2e8fb8 !important;
    border-color: #2e8fb8 !important;
    color: white;
}

.site-btn-red {
    background-color: #FF6B6C;
    border-color: #FF6B6C;
    color: white !important;
}

.site-btn-red:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    background-color: #E55153FF;
    border-color: #E55153FF;
    color: white;
}

.site-btn-red:active {
    background-color: #FF7F80FF !important;
    border-color: #FF7F80FF !important;
    color: white;
}

.list-group-item {
    border-radius: 15px !important;
}

.font-size-150 {
    font-size: 150% !important;
}

.font-size-120 {
    font-size: 120% !important;
}

.font-size-110 {
    font-size: 110% !important;
}

.font-size-90 {
    font-size: 90% !important;
}

.font-size-80 {
    font-size: 80% !important;
}

.picture-small-fixed {
    height: 40px;
    width: 40px;
}

hr {
    border-style: solid;
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.dropdown-menu {
    background-color: #ffffff;
}

.dropdown-item {
    color: #464c52 !important;
}

.dropdown-item:hover {
    background-color: #edf0f2;
    color: #464c52 !important;
}

.dropdown-item-red {
    color: #FF6B6C !important;
}

.dropdown-item-red:hover {
    background-color: #FF6B6C !important;
    color: white !important;
}

.dropdown-item:active {
    outline: none !important;
}

.dropdown-menu input {
    border: 1px solid #ced4da;
    font-weight: 400;
}

.dropdown-menu input:focus {
    border: 3px solid #525252;
}

.btn.dropdown-toggle {
    border-radius: 10px !important;
}

.dropdown-menu {
    border-radius: 15px;
    border-color: transparent;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.dropdown-item.active {
    background-color: #247BA0;
    color: white !important;
}

.dropdown-item.bg-danger-hover:hover span {
    color: white !important;
}

.white-space-normal {
    white-space: normal;
}